html, body { margin: 0; padding: 0; }

#background {
	position: absolute; top: 0; left: 0; width: 100%; height: 100%;
	background: transparent url(../img/bg.jpg) 50% 20% no-repeat;
}

#links {
	position: absolute;
	padding: 50px;
	bottom: 0px; left: 0px;
	height: 230px; width: 320px;
	background: transparent url(../img/menu-bg.png) center center no-repeat;
}

#links .link {
	display: block; overflow: hidden; text-indent: -9999px;
	width: 240px; height: 100px;
	margin: 10px auto;
	opacity: 0.6;
	background: transparent url(../img/text.png);

	-webkit-transition: opacity 0.2s linear;
}
#links .link:hover {
	opacity: 1;
}
#links .link.gallery {
	background-position: 0 0;
}
#links .link.email {
	background-position: 0 -100px;
}